/* Image.module.css */
.imageContainer {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
}

.animatedImage {
  width: 100%;
  /* Full width inside the container */
  height: auto;
  /* Maintain aspect ratio */
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  /* Spacing between images */
}

.imageColumn {
  display: flex;
  flex-direction: column;
  /* To stack images vertically in each column */
  gap: 10px;
}
