.title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.imageAnimation {
  width: 100%;
  margin-bottom: 20px;
}

.trajectoryVisualizer {
  width: 100%;
  max-width: 800px;
}

.grid {
  width: 95%;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */

  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.pagination {
  width: 95%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pageButton {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.pageButton.disabled {
  background-color: #ddd;
  color: #666;
  cursor: default;
}
