.imageAnimation {
  width: 100%;
  margin-bottom: 20px;
}

.trajectoryVisualizer {
  width: 100%;
  max-width: 800px;
}

.grid {
  width: 95%;
  /* Ensure it takes full width of the parent */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Spread the items inside the container */
  gap: 20px;
  /* Space between columns */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Ensure padding is included in width calculation */
  align-items: center;
  /* Make the card take the full width of its container */
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.pagination {
  display: flex;
  flex-direction: row; /* Align items vertically */
  width: 100%; /* Set width to 100% of its container */
  max-width: 95%; /* But constrain it to 95% of the available space */
  margin-top: 20px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.pageButton {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.pageButton.disabled {
  background-color: #ddd;
  color: #666;
  cursor: default;
}
