.container {
  width: 100%;
  /* Ensure it takes full width of the parent */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Spread the items inside the container */
  gap: 20px;
  /* Space between columns */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Ensure padding is included in width calculation */
  align-items: center;
  /* Make the card take the full width of its container */
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
  margin: 0;
  /* Reduces margin */
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: 0;
  /* Reduces margin */
}

.information {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 0;
  /* Reduces margin */
}

.evaluation {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 0;
  /* Reduces margin */
}

.animation {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 0;
  /* Reduces margin */
}

.trajectory {
  display: flex;
  gap: 20px;
  width: 100%;
  aspect-ratio: 1 / 1;
  /* Ensures the height is equal to the width */
  margin: 0;
  /* Reduces margin */
}
