.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: top;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

/* Left and right columns */
.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.information,
.evaluation,
.animation {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 0;
}

/* Mobile styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 10px;
  }

  .left,
  .right {
    gap: 10px;
  }
}
