.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background-color: white;
  height: 3px;
  margin: 0;
  width: 25px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  /* Display hamburger menu on mobile */
  .hamburger {
    display: flex;
  }
}
