/* style.module.css */
.container {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.canvas {
  width: 70%;
  height: 1000px;
  aspect-ratio: 1;
  display: block;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.controlItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px; /* Add spacing between controls */
}

.label {
  margin-right: 10px;
  flex-shrink: 0;
  width: 100px;
  text-align: left;
}

.slider {
  flex-grow: 1;
  margin-right: 10px;
}

.textInput {
  width: 60px;
}
