/* style.module.css */
.container {
  width: 100%;
  /* Ensure it takes full width of the parent */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Spread the items inside the container */
  gap: 20px;
  /* Space between columns */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Ensure padding is included in width calculation */
  align-items: flex-start;
  /* Make the card take the full width of its container */
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  margin: 0;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: 0;
}

.canvas {
  aspect-ratio: 1;
  display: block;
  margin: 0;
  position: relative;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
