/* style.module.css */
.container {
  width: 100%;
  /* Ensure it takes full width of the parent */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Spread the items inside the container */
  gap: 20px;
  /* Space between columns */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Ensure padding is included in width calculation */
  align-items: flex-start;
  /* Make the card take the full width of its container */
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  margin: 0;
  /* Reduces margin */
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: 0;
  /* Reduces margin */
}

.canvas {
  width: 70%;
  height: 1000px;
  aspect-ratio: 1;
  display: block;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controlItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px; /* Add spacing between controls */
}

.label {
  margin-right: 10px;
  flex-shrink: 0;
  width: 100px;
  text-align: left;
}

.slider {
  flex-grow: 1;
  margin-right: 10px;
}

.textInput {
  width: 60px;
}
